.shard-docs {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, Arial, sans-serif;
  display: flex;
  height: 100vh;
  width: 100%;
  max-width: 100%;
}
