.shard-docs-sidebar {
  margin: 0;
  border-right: thin solid #dddddd;
  overflow-y: scroll;
  background: #673ab7;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.shard-docs-sidebar-header {
  width: 304px;
  margin-top: 16px;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    background: white;
    margin: 0;
    padding: 3px 30px 3px 15px;
    color: #673ab6;
    font-size: 14px;
    font-weight: 700;
  }

  p {
    padding: 15px 15px 5px 15px;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    cursor: text;
    font-weight: 100;
  }
}

.shard-docs-sidebar-menu {
  margin: 0;
  padding: 7px 15px;
  width: 320px;
  color: rgba(255, 255, 255, 0.5);
  list-style-type: none;
  line-height: normal;

  a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    font-weight: 100;
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 15px;
    list-style-type: none;
  }

  li {
    margin: 8px 0;
    font-size: 15px;
  }

  > li:first-child > * {
    margin-top: 0;
  }

  h3 {
    cursor: text;
    font-size: 15px;
    font-weight: 700;
    color: white;
    margin: 8px 0;
    display: inline-block;
  }

  .active {
    font-weight: 500;
    color: #fff176;
  }

  .external-icon {
    height: 14px;
    width: 14px;
  }
}
