.shard-docs-markdown-shard,
.shard-docs-markdown-shard pre {
  margin: 0 0 2rem 0;
}

.shard-docs-markdown-shard > :first-child {
  margin-top: 0;
}

.shard-docs-markdown-shard > :last-child {
  margin-bottom: 0;
}
