.shard-docs-pagination {
  display: flex;
  margin-top: 40px;
  border-top: thin solid #dddddd;
  padding: 15px 0 45px 0;

  a {
    color: #0000ee;
    text-decoration: none;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }

  .next {
    margin-left: auto;
  }
}
