.shard-docs-sidebar {
  margin: 0;
  border-right: thin solid #dddddd;
  overflow-y: scroll;
  background: #673ab7;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
