.shard-docs-sidebar-header {
  margin: 15px 15px 15px 0;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    background: white;
    margin: 0;
    padding: 3px 15px;
    color: #673ab6;
    font-size: 14px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
