.shard-docs-sidebar-toggle {
  background: transparent;
  color: white;
  border: 1px solid transparent;
  margin: -1px 0;
  outline: none;
  cursor: pointer;
  &:focus {
    border-color: white;
  }
  svg {
    width: 27px;
    height: 27px;
  }
  @media (min-width: 1200px) {
    display: none;
  }
}
