.shard-docs-example-shard {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.shard-docs-example-shard > header {
  padding: 8px 10px;
  background: #212121;
  color: white;
  font-size: 14px;
  border-radius: 4px 5px 0 0;
}

.shard-docs-example-shard > div {
  padding: 15px;
}

.shard-docs-example-shard > footer {
}
