.shard-docs-example-shard {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 2rem;
}

.shard-docs-example-shard > header {
  padding: 8px 10px;
  background: #212121;
  color: white;
  font-size: 14px;
  border-radius: 4px 5px 0 0;
  display: flex;
}

.shard-docs-example-shard > header > h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 15px;
}

.shard-docs-example-shard > header .shard-docs-example-shard-source-link {
  color: white;
  margin-left: auto;
  white-space: nowrap;
}
.shard-docs-example-shard > header .shard-docs-example-shard-source-link,
.shard-docs-example-shard > header .shard-docs-example-shard-source-link:after {
  // Turn external icon white
  filter: brightness(0) invert(1);
}

.shard-docs-example-shard > div {
  padding: 15px;
}

.shard-docs-example-shard > div > :first-child {
  margin-top: 0;
}

.shard-docs-example-shard > div > :last-child {
  margin-bottom: 0;
}

.shard-docs-example-shard > footer > pre {
  margin: 0;
}
