.shard-docs-showcase-shard {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 15px;

  :first-child {
    margin-top: 0 !important;
  }

  :last-child {
    margin-bottom: 0 !important;
  }
}
