.shard-docs-showcase-shard {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.shard-docs-showcase-shard-title {
  padding: 8px 10px;
  background: #212121;
  color: white;
  font-size: 14px;
  border-radius: 4px 5px 0 0;
}

.shard-docs-showcase-shard-body {
  padding: 15px;
}
