.shard-docs-menu {
  margin: 0;
  border-top: thin solid rgba(0, 0, 0, 0.2);
  border-bottom: thin solid rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  list-style-type: none;
  line-height: normal;
  width: 100%;

  @media (min-width: 1200px) {
    width: 280px;
  }

  &[data-show-on-mobile="false"] {
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
  }

  > .shard-docs-menu-section:last-child {
    border-bottom: none;
  }
}

.shard-docs-menu-section {
  border-bottom: thin solid rgba(0, 0, 0, 0.2);

  &.collapsible.expanded {
    background: rgba(0, 0, 0, 0.1);
  }

  &-header a {
    padding: 10px 15px 10px 15px;
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    text-transform: uppercase;
  }

  &-header a:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &-header h3 {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
  }

  &-header svg {
    height: 24px;
    width: 24px;
    margin: -4px -5px -4px auto;
  }
}

.shard-docs-menu-section > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.shard-docs-menu-section > ul:first-of-type {
  margin-top: 5px;
}

.shard-docs-menu-section > .shard-docs-menu-section-header + ul > *:first-child {
  margin-top: 0;
}

.shard-docs-menu-section > ul:last-child {
  margin-bottom: 15px;
}
