.shard-docs-menu {
  margin: 0;
  padding-right: 15px;
  color: rgba(255, 255, 255, 0.5);
  list-style-type: none;
  line-height: normal;
  width: 300px;

  &[data-show-on-mobile="false"] {
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
  }

  a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    font-weight: 100;
    &:hover {
      text-decoration: underline;
    }

    &[disabled] {
      opacity: 0.5;
      text-decoration: none !important;
      cursor: default;
    }
  }

  ul {
    padding-left: 15px;
    list-style-type: none;
    margin: 0 0 18px 0;
  }

  li {
    margin: 0 0 8px 0;
    font-size: 15px;
  }

  > li:first-child > * {
    margin-top: 0;
  }

  h3 {
    font-size: 15px;
    margin: 0;
  }

  h3 a {
    font-weight: 600 !important;
  }

  .active {
    color: #fff176;
  }

  .external-icon {
    height: 14px;
    width: 14px;
  }
}
