.shard-docs {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, Arial, sans-serif;
  display: flex;
  height: 100vh;
  width: 100%;
  max-width: 100%;
}

.shard-docs-main {
  padding: 15px 30px;
  flex: 1;
  background: white;
  overflow: scroll;
}

.shard-docs-document {
  width: 100%;
  max-width: 840px;
  margin: 0 15px 0 0;
  vertical-align: top;
  background: white;

  // > * {
  //   cursor: initial;
  // }

  > :first-child {
    margin-top: 15px;
  }

  h1,
  h2,
  h3 {
    font-weight: 500;
  }

  pre code {
    background: inherit;
    color: inherit;
    display: block;
    padding: 15px;
    font-size: 13px;
    border: none;
  }

  code {
    padding: 2px 6px;
    border-radius: 2px;
    // Font-size used to be 12px (and remains so in body) but was changed to percentage to stay proportional with varying text sizes such as headings.
    font-size: 86%;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New;
    background: #f5f5f5;
    color: #e0245e;
  }

  pre {
    background: #2a2021;
    background: #282c34;
    background: #151515;
    background: #f4f2f0;
    color: white;
    color: #d0d0d0;
    color: black;
    border-radius: 4px;
    margin-bottom: 25px;
    overflow-x: scroll;
  }

  p {
    margin-top: 0;
  }

  a {
    color: #0000ee;
    text-decoration: none;
    position: relative;
    &:hover {
      text-decoration: underline;
    }
  }

  a[target="_blank"] {
    padding-right: 19px;
    &::after {
      content: "";
      position: absolute;
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' width='24' fill='rgb(0, 0, 238)' stroke='none'><path d='M13 3L16.293 6.293 9.293 13.293 10.707 14.707 17.707 7.707 21 11 21 3z'/><path d='M19,19H5V5h7l-2-2H5C3.897,3,3,3.897,3,5v14c0,1.103,0.897,2,2,2h14c1.103,0,2-0.897,2-2v-5l-2-2V19z'/></svg>")
        no-repeat;
      background-size: 14px;
      height: 14px;
      width: 14px;
      right: 0;
      top: 3px;
    }
  }

  table {
    word-break: normal;
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 25px;
    margin-top: 0;
  }

  table thead {
    white-space: nowrap;
    font-weight: bold;
  }

  table thead th {
    font-weight: 600;
    text-align: left;
    border-bottom: thin solid #616161;
    padding-top: 0;
  }

  table th,
  table td {
    border: thin solid white;
    padding: 6px 20px 6px 0;
    line-height: 1.8;
    vertical-align: top;

    &:last-child {
      width: 99%;
      padding-right: 0;
    }
  }

  table td.param {
    color: #008000;
    font-family: "Courier New", Courier, monospace;
  }

  img {
    width: 100%;
  }
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  background: hsla(0, 0%, 100%, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
