.shard-docs {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, Arial, sans-serif;
  display: flex;
  width: 100%;
  max-width: 100%;
  background: #f5f5f5;
  flex-direction: column;
  min-height: 100vh;

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}
