.App {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, Arial, sans-serif;
  width: 100%;
  max-width: 100%;
  background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
  min-height: 100vh;
  
  &__inner {
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    max-width: 100%;
    width:100%;
    padding: 0 24px 24px 24px;
    
    @media (min-width: 1024px) {
      padding: 24px;
      max-width: 1200px;
      flex-direction: row;
    }
  }
}
