.AppNavMenuListButton {
  background: transparent;
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  width: 100%;
  border: 0;
  cursor: pointer;
  text-align: left;
  display: flex;
  position: relative;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Ubuntu, Arial, sans-serif;
  color: #fff;
  background: rgba(255, 255, 255, 0);
  transition: background 0.3s ease-out;

  &--toggle#{&}--active {
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
  }

  &--internal#{&}--active {
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
  }

  &:not(&--active):hover {
    background: rgba(255, 255, 255, 0.2);
  }
  
  &--external &__external-icon {
    width: 14px !important;
    height: 20px !important;
    margin-left: 0.25rem;
    position: relative;
  }
  
  &--external {
    background: rgba(255, 255, 255, 0.2);
    
    &:hover {
      background: rgba(255, 255, 255, 0.1) !important;
    }
  }
}