.sd-CodeSampleShard {
  margin-bottom: 16px;
  
  &__header {
    padding: 0 0 5px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 16px !important;
    font-weight: 500 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 15px;
  }

  &__menu {
    margin-left: auto;
    white-space: nowrap;
    margin: 0 0 0 auto;
    display: inline-flex;
  }

  &__menu-link {
    color: black !important;
    padding: 10px !important;
    transition: opacity 150ms ease-out;
    border-radius: 50%;
    display: inline-flex;

    &:hover {
      background: #e0e0e0;
    }

    &:after {
      display: none;
    }
  }
  
  &__menu-icon {
    height: 20px;
    width: 20px;
  }
  
  &__body {
    padding: 15px;
    background: rgba(0, 0, 0, 0.1);
  }
  
  &__source-code {
    margin-bottom: 15px;
  
    pre {
      margin: 0;
      border-radius: 0 !important;
    }
  
    pre code {
      border-radius: 0 !important;
    }
  }
  
  &__example {
    overflow: auto;
    background: white;
    padding: 15px;
  
    > :first-child {
      margin-top: 0;
    }
  
    > :last-child {
      margin-bottom: 0;
    }
  }
}
