.shard-docs-description {
  padding: 0 15px;
  color: white;
  font-size: 14px;
  cursor: text;
  font-weight: 100;
  font-style: italic;
  margin: 0 0 15px 0;
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}
