.AppHeader {
  padding: 16px;
  display: flex;
  background: rgba(0,0,0,0.3);

  &__title-link {
    flex: 1;
    text-decoration: none;
    overflow: hidden;
  
    &:focus {
      color: #673ab6;
    }
  
    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    padding: 3px 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
  }

  &__toggle-btn {
    background: transparent;
    color: white;
    border: 1px solid transparent;
    margin: -1px 0;
    outline: none;
    cursor: pointer;
  
    &:focus {
      border-color: white;
    }
    
    @media (min-width: 1200px) {
      display: none;
    }
  }

  &__toggle-icon {
    width: 27px;
    height: 27px;
  }
}
