.shard-docs-document {
  background: white;
  margin: 0 auto 20px auto;
  max-width: 980px;
  border: thin solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.shard-docs-document-body {
  padding: 30px;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  pre code {
    color: inherit;
    display: block;
    font-size: 13px;
  }

  code {
    padding: 2px 6px;
    border-radius: 2px;
    // Font-size used to be 12px (and remains so in body) but was changed to percentage to stay proportional with varying text sizes such as headings.
    font-size: 86%;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New;
    background: #f5f5f5;
    color: #e0245e;
  }

  a {
    color: #0000ee;

    &:hover {
      text-decoration: underline;
    }
  }

  a[target="_blank"] {
    padding-right: 19px;

    // Required to position new tab icon properly.
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' width='24' fill='rgb(0, 0, 238)' stroke='none'><path d='M13 3L16.293 6.293 9.293 13.293 10.707 14.707 17.707 7.707 21 11 21 3z'/><path d='M19,19H5V5h7l-2-2H5C3.897,3,3,3.897,3,5v14c0,1.103,0.897,2,2,2h14c1.103,0,2-0.897,2-2v-5l-2-2V19z'/></svg>")
        no-repeat;
      background-size: 14px;
      height: 14px;
      width: 14px;
      right: 0;
      top: 3px;
    }
  }

  table {
    word-break: normal;
    width: 100%;
    font-size: 13px;
    display: table;
  }

  table thead th {
    font-weight: 600;
    text-align: left;
  }

  table th,
  table td {
    border: thin solid #bdbdbd !important;
    padding: 5px !important;
    line-height: 1.6;
    vertical-align: top;
    width: 12%;

    &:last-child {
      width: 99%;
    }
  }

  table td.param {
    color: #008000;
    font-family: "Courier New", Courier, monospace;
  }

  img {
    width: 100%;
  }
}
