.shard-docs-menu-document a,
.shard-docs-menu-external a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  padding: 3px 15px 3px 0;
  display: flex;
  cursor: pointer;
  font-weight: 400;
  &:hover {
    color: white;
  }

  &.active {
    color: #fff176;
  }

  &[disabled] {
    opacity: 0.5;
    text-decoration: none !important;
    cursor: default;
  }

  svg {
    height: 16px;
    width: 16px;
    min-width: 16px;
    min-height: 16px;
    margin-right: 5px;
    position: relative;
  }
}

.shard-docs-menu-external svg {
  width: 14px !important;
  min-width: 14px !important;
}

.shard-docs-menu-folder {
  padding: 0;
  list-style-type: none;

  &-header a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    padding: 3px 0;
    display: flex;
    cursor: pointer;
    font-weight: 400;
  }

  &-header a:hover {
    color: white;
  }

  &-header svg {
    width: 9px;
    height: 9px;
    margin: 4px;
    margin-right: 8px;
  }
}
