.CodeSampleShard {
  margin-bottom: 16px;
  border: thin solid #e0e0e0;
  border-radius: 4px;
 
  &__header {
    padding: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-bottom: thin solid #e0e0e0;
  }

  &__menu {
    margin-left: auto;
    white-space: nowrap;
    margin: 0 0 0 auto;
    display: inline-flex;
  }

  &__menu-link {
    color: black !important;
    padding: 8px !important;
    transition: opacity 150ms ease-out;
    border-radius: 50%;
    display: inline-flex;

    &:hover {
      background: #e0e0e0;
    }

    &:after {
      display: none;
    }
  }
  
  &__menu-icon {
    height: 20px;
    width: 20px;
  }
  
  &__source-code {
    margin-bottom: 15px;
    border-bottom: thin solid #e0e0e0;
    
    pre {
      margin: 0;
      border-radius: 0 !important;
    }
  
    pre code {
      border-radius: 0 !important;
    }
  }
  
  &__example {
    overflow: auto;
    background: white;
    padding: 15px;
  
    > :first-child {
      margin-top: 0;
    }
  
    > :last-child {
      margin-bottom: 0;
    }
  }
}
