.shard-docs-breadcrumbs {
  list-style-type: none;
  padding: 0 0 15px 0;
  max-width: 960px;
  font-size: 16px;
  margin: 0 0 2px 0;

  > * {
    cursor: initial;
  }

  a {
    color: #212121;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    display: inline-block;
    &:not(:last-child):after {
      content: " / ";
      margin-right: 4px;
    }
  }

  li:last-child a {
    color: black;
    font-weight: normal;
  }
}
