.code-example-shard {
  margin-bottom: 2rem;
}

.code-example-shard .code-example-shard-header {
  margin-bottom: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;

  h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 15px;
  }

  menu {
    margin-left: auto;
    white-space: nowrap;
    margin: 0 0 0 auto;
    display: inline-flex;
  }

  menu a {
    color: black;
    padding: 10px;
    transition: opacity 150ms ease-out;
    border-radius: 50%;
    display: inline-flex;

    &:hover {
      background: #e0e0e0;
    }

    a:after {
      display: none;
    }

    svg {
      height: 20px;
      width: 20px;
    }
  }
}

.code-example-shard .code-example-shard-body {
  padding: 15px;
  background: #a8a9aa;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.code-example-shard .source-code {
  margin-bottom: 15px;

  pre {
    margin: 0;
    border-radius: 0 !important;
  }

  pre code {
    border-radius: 0 !important;
  }
}
